In [13]:
import numpy as np
import pandas as pd
import random as rd
from datetime import datetime, date, time, timedelta

In [27]:
dt = datetime(2019, 1, 1, 0, 0, 0)
lNumeros = [88888888,71010000,61000011]

def horasAleatoria(): 
    return rd.randrange(1,25)*3600

def buscarNumero():
    return lNumeros[rd.randrange(0,3)] 

def duracionLlamada():
    return rd.randrange(100,1001)

In [28]:
listaLlamadas = []
for i in range(0,10):
    duracion = duracionLlamada()
    deltaDuracion = timedelta(0,duracion)
    deltaHoras = timedelta(0,horasAleatoria())
    numero = buscarNumero()
    if i == 0:
        llamada = [dt,numero,duracion]
    else:
        dt = dt+deltaDuracion+deltaHoras
        llamada = [dt,numero,duracion]
    listaLlamadas.append(llamada)
listaLlamadas

[[datetime.datetime(2019, 1, 1, 0, 0), 71010000, 915],
 [datetime.datetime(2019, 1, 1, 1, 6, 56), 61000011, 416],
 [datetime.datetime(2019, 1, 1, 22, 22, 31), 88888888, 935],
 [datetime.datetime(2019, 1, 1, 23, 26, 33), 71010000, 242],
 [datetime.datetime(2019, 1, 2, 22, 40, 3), 61000011, 810],
 [datetime.datetime(2019, 1, 3, 4, 45, 53), 61000011, 350],
 [datetime.datetime(2019, 1, 3, 12, 53, 12), 88888888, 439],
 [datetime.datetime(2019, 1, 4, 11, 3, 38), 71010000, 626],
 [datetime.datetime(2019, 1, 5, 0, 11, 8), 88888888, 450],
 [datetime.datetime(2019, 1, 6, 0, 18, 26), 61000011, 438]]

In [31]:
df = pd.DataFrame(listaLlamadas,columns=["Fecha","Numero","Duracion"])
df

                Fecha    Numero  Duracion
0 2019-01-01 00:00:00  71010000       915
1 2019-01-01 01:06:56  61000011       416
2 2019-01-01 22:22:31  88888888       935
3 2019-01-01 23:26:33  71010000       242
4 2019-01-02 22:40:03  61000011       810
5 2019-01-03 04:45:53  61000011       350
6 2019-01-03 12:53:12  88888888       439
7 2019-01-04 11:03:38  71010000       626
8 2019-01-05 00:11:08  88888888       450
9 2019-01-06 00:18:26  61000011       438

In [34]:
df.groupby?